.question {
  animation: slide-in 1s;
}

@keyframes slide-in {
  from {
    transform: translateX(100vw)
  }
  to {
    transform: translateX(0)
  }
}
.answers {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
