:root {
  --main: #172458;
  --secondary: #2a2a72;
  --prior-contrast: #1ABC9C;
  --prior-main: #34495e;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #2C3E50; /* Deep blue/purple background */
  background-color: #2a2a72; /* Deep blue/purple background */
  margin: 0;
  padding: 0;
  color: white;
}