:root {
  --main: #172458;
  --secondary: #2a2a72;
  --prior-contrast: #1ABC9C;
  --prior-main: #34495e;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #2C3E50; /* Deep blue/purple background */
  background-color: #2a2a72; /* Deep blue/purple background */
  margin: 0;
  padding: 0;
  color: white;
}

.tab-bar {
  display: flex;
  justify-content: center;
  background-color: var(--main);
  padding: 10px 0;
}

.tab {
  margin: 0 20px;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.tab:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: #1ABC9C;
  border-radius: 5px;
}

.logout-button {
  position: fixed;
  z-index: 1000;
  right: 1rem;
}

.container {
  width: 80%;
  max-width: 600px;
  background-color: #34495E; /* Slightly lighter deep blue/purple */
  background-color: #2a2a72;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.question {
  animation: slide-in 1s;
}

@keyframes slide-in {
  from {
    transform: translateX(100vw)
  }
  to {
    transform: translateX(0)
  }
}
.answers {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.prompt {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.entry {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: none;
  color: white;
  font-size: 1em;
  outline: none;
  cursor: text;
  text-align: left;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1ABC9C;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: #16A085;
}

.leaderboard {
  text-align: left;
  margin-top: 20px;
}

.friend-row {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #2C3E50;
  border-radius: 5px;
}

.friend-avatar {
  width: 40px;
  height: 40px;
  background-color: #1ABC9C;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  margin-right: 10px;
}

.friend-name {
  flex-grow: 1;
}

.friend-streak {
  margin-right: 20px;
  min-width: 10ch;
}

.reminder-button {
  background-color: #1ABC9C;
  border: none;
  border-radius: 5px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.reminder-button:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: #16A085;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-pic {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.profile-pic > img {
  object-fit: cover;
}

#fire-icon {
  height: 3rem;
}

.profile-details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.profile-streak {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.profile-streak > img {
  width: 2rem;
  margin-right: 0.5rem;
}

.profile-name {
  font-size: 2rem;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.stat {
  text-align: left;
}

.stat > p:nth-child(1) {
  color: white; 
}

.stat > p:nth-child(2) {
  border-bottom: 1px solid #333333;
  display: block;
}

@keyframes skeleton {
  0% {
    background-color: hsl(200, 20%, 70%)
  }

  100% {
    background-color: hsl(200, 20%, 95%)
  }
}

.skeleton {
  animation: skeleton 1s linear infinite alternate;
  opacity: 0.3;
}

.profile-name-skeleton {
  font-size: 4rem;  
  width: 7ch;
  height: 4rem;
  border-radius: 1ch;
  margin-bottom: 0.5ch;
}

.skeleton-streak {
  width: 12ch;
  font-size: 3rem;
  height: 3rem;
  border-radius: 1ch;
}

.skeleton-text {
  width: 12ch;
  font-size: 1rem;
  height: 1rem;
  border-radius: 1ch;
}

@keyframes loading-text-fade-in {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

@keyframes loading-text-fade-out {
  0% {
    opacity: 1
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.fade-in {
  animation: loading-text-fade-in 6s linear both;
}

.fade-out {
  animation: loading-text-fade-out 6s linear both;
}

#welcome-back-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 43px - 1.2em);
}

#welcoming-text {
  display: inline-block;
}

#welcoming-text > h1 {
  overflow: hidden;
  border-right: .15em solid orange;
  font-family: monospace;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
}
/* animation-timing function needs to adjust the number of steps depending on the number of characters in the string */
.typing {
  animation: typing 1.5s steps(14, end) both,
  blinking-caret .5s step-end infinite;
}
.deleting {
  animation: deleting 1.5s steps(14, end) both,
  blinking-caret .5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes deleting {
  from {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blinking-caret {
  from, to {
    border-color: solid orange;
  }  
  50% {
    border-color: transparent;
  }
}