@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2C3E50; /* Deep blue/purple background */
}

.loading-text {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color: white;
  display: flex;
  margin-bottom: 50px; /* Space reserved for buttons */
}

.loading-text span {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button-container {
  display: flex;
  gap: 20px;
  opacity: 0;
  transition: opacity 1s ease;
}

.fade-in {
  opacity: 1;
}